.DS_Store
node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## Django
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

server/*.log
server/*.pot
server/*.pyc
server/__pycache__/

*.sqlite3
media/
db/
dist/
.env
