<header class="py-4 px-10">
  <nav>
    <ul class="flex justify-end items-center font-bold">
      <li
        @click="openDialog"
        class="rounded text-white 2xl:text-green-400 hover:text-green-500 border border-white 2xl:border-green-400 hover:border-green-500 cursor-pointer px-8 py-2 mr-5"
        >
          Login
        </li>
      <li class="rounded text-white bg-green-400 2xl:bg-green-400 hover:bg-green-500 focus:bg-green-700 cursor-pointer shadow-lg px-8 py-2">Sign up</li>
    </ul>
  </nav>
</header>