{% comment %} <section x-show="video.title && !loading" class="grid grid-cols-1 md:grid-cols-3 gap-4 justify-center pt-36 pb-16"> {% endcomment %}
<section class="grid grid-cols-1 md:grid-cols-3 gap-4 justify-center pt-36 pb-16">
  <div class="flex justify-center">
    <img
      src="https://i.ytimg.com/vi/s6dMWzZKjTs/maxresdefault.jpg"
      class="row-span-1 md:row-span-2 shadow-lg w-64"
      alt=""
    >
  </div>
  <div class="grid grid-rows-2 md:col-span-2 md:grid-rows-none justify-center">
    <div>
      <h2 class="text-md md:text-xl text-center md:text-left">Stoping wasting time when you're learning to code!</h2>
    </div>
    <div class="flex justify-center md:flex-nowrap md:justify-start mt-5">
      <div class="flex md:items-end">
        <button
          @click="downloadResource"
          class="py-2 px-4 capitalize tracking-wide bg-blue-500 text-white font-medium rounded hover:bg-blue-700 focus:outline-none focus:bg-blue-700"
        >
          Download
        </button>
      </div>
    
      <div class="flex md:items-end relative">
        <button @click="toggle" class="relative z-10 block bg-blue-400 rounded p-2 hover:bg-blue-700 focus:outline-none focus:bg-blue-700">
          <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
          </svg>
        </button>

        <div x-show="isDropdownVisible" @click="closeDropdown" class="fixed inset-0 h-full w-full z-10"></div>

        <div x-show="isDropdownVisible" class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-20">
          <template x-for="(format, i) in video.formats" :key="i">
            <a
              @click="downloadResource(format)"
              class="block px-4 py-2 text-sm text-gray-800 border-b hover:bg-gray-200"
            >
              Quality
              <span x-text="format.quality" class="text-gray-600 font-extrabold"></span>
            </a>
          </template>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-10 flex sm:hidden">
  <div class="circle circle-size--md bg-amber-400 shadow-2xl shadow-amber-400"></div>
</section>
